<div class="separator-bottom">
    <div class="title-bar content-center">
        UGA PARKING SPOT TRACKER
    </div>
</div>
<div class="separator-bottom">
    <nav class="content-center">
        <a href="/lots">Lots</a>
        <a href="/report">Report a Spot</a>
        <a href="/favorites">Favorites</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/analytics">Analytics</a>
        <!-- Add the Profile link here to match the others -->
        <a href="/profile">Profile</a> 
        <!-- Change this to hit your new logout logic -->
        <a href="/login/logout">Logout</a>
    </nav>
</div>

{{> fragments/error_message}}
